// colors
$red: #ff0000;
$black: #000000;
$white: #ffffff;
$spanish-gray: rgb(153, 153, 153); // #999999
$deep-koamaru: rgb(37, 45, 105); // #252D69
$french-blue-sky: rgb(115, 170, 240);//#73aaf0
$cool-black: rgb(0, 28, 107); // #001c6b
$dark-green: rgb(1, 37, 12); //#01250c
$glitter: rgb(234, 237, 243); // #eaedf3;
$davys-grey: rgb(84, 84, 84); // #545454
$platinum: rgb(230, 230, 230); // #e6e6e6;
$electric-crimson: rgb(255, 0, 69); // #ff0045
$flavescent: rgb(255, 234, 148); //#ffea92
$very-pale-yellow: rgb(255, 250, 184); // #fffab8
$university-of-california-gold: rgb(171, 129, 36); // #ab8124
$sunray: rgb(218, 178, 90); // #dab25a
$indian-yellow: rgb(213, 168, 77); // #d5a84d
$arylide-yellow: rgb(239, 200, 115); //#efc873
$celestial-blue: rgb(58, 152, 211); //#3a98d3
$cyan-cobalt-blue: rgb(33, 85, 162); //#2155a2
$dark-midnight-blue: rgb(11, 52, 107); //#0b346b
$white-smoke: rgb(245, 245, 245); //#f5f5f5
$arsenic: rgb(67, 67, 67); // #434343
$isabelline: rgb(235, 237, 239); //#ebedef
$white: #fff;
$gray: #a9a9a9;
$black: black;
// $green: #6a983c;
// $bold: #46760a;
// $black: #151515;
// $yellow: #d0a866;
// $blue: #37d0d6;
// $orange: #e5704b;
$oxford-blue: #04004d;
$vivid-raspberry:#ff0366;
$blue-ryb:#004dff;
$lavender-blue:#bbcffb;
$light-gray:#d3d7db;
$auro-metal-saurus:#667386;

//opacity
$white05: rgba($white, 0.5);